.about__title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.about__foto {
  float: left;
  margin-right: 80px;
  
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 54px;
}

.quote {
  display: inline-block;
  width: 400px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
}

.quote__quotes {
  color: #6C0287;
}

/*.quote:before {
  content: ' ';
  padding-left: 20px;
  margin-bottom: 0;
  background-image: url(../images/quotes.svg);
  background-position: top left;
  background-repeat: no-repeat;
}

.quote:after {
  content: ' ';
  
  margin-top: 0;
  background-image: url(../images/quotes_down.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  
}*/

.signature__foto {
  float: left;
  margin-left: 80px;
  border-radius: 50%;
  margin-right: 28px;
}

.signature {
  display: inline-block;
  
}

.signature__name {
  width: 430px;
  font-size: 20px;
  line-height: 28px;
  margin: auto;
}