

.equipment__title{
  margin:0 auto;
  width: 800px;
 
}

.equipment__list{
  margin-bottom: 70px;
  display:grid;
  grid-template-rows: repeat(2, 228px,);
  grid-template-columns: repeat(3, 380px);
  flex-wrap: wrap;
  gap: 40px 20px;
}

.equipment__item {
  display: grid;
  grid-template-rows: 228px;
  grid-template-columns: 380px;
  align-items: end;
  transition-duration: 0.2s;
} 

.equipment__item_vr {
  grid-area: 1/2 1/2;
}

.equipment__item_audio {
  grid-area: 1/2 2/3;
}

.equipment__item_karaoke {
  grid-area: 1/2 3/4;
}

.equipment__item_games {
  grid-area: 2/3 1/2;
}

.equipment__item_cinema {
  grid-area: 2/3 2/3;
}

.equipment__item_playstation {
  grid-area: 2/3 3/4;
}

.equipment__item:hover {
  transform: scale(1.1);
}

.equipment__item:nth-child(3n+2) {
  transform: translateY(70px);
}

.equipment__item:nth-child(3n+2):hover {
  
  transform: scale(1.1)translateY(70px) ;
}


.equipment__foto {
  grid-row: 1/2;
  grid-column: 1/2;
}



.equipment__text {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 310px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.equipment__text_normal {
  padding-bottom: 34px;
}

.equipment__text_shift {
  padding-bottom: 8px;
}

@media (max-width: 1250px) {

  .equipment__title{
    margin: 15px auto 0;
    width: 600px;
   
  }

  .equipment__list{
    margin-bottom: 70px;
    grid-template-rows: repeat(2, 172px);
    grid-template-columns: repeat(3, 287px);
    gap: 30px 22px;
  }
  
  .equipment__item {
    grid-template-rows: 172px;
    grid-template-columns: 287px;
  
  } 

  .equipment__text {
    width: 247px;
    padding-left: 20px;
    line-height: 28px;
  }
  
  .equipment__item:nth-child(3n+2) {
    transform: translateY(60px);
  }
  
  .equipment__item:nth-child(3n+2):hover {
    transform: scale(1.1)translateY(60px) ;
  }
}

@media (max-width: 950px) {

  .equipment__title{
    margin: 15px auto 0;
    width: 600px;
  }

  .equipment__list{
    margin-bottom: 70px;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(2, 334px);
    
    gap: 20px;
  }
  
  .equipment__item {
    grid-template-rows: 200px;
    grid-template-columns: 334px;
  
  } 

  .equipment__text {
    width: 274px;
    padding-left: 30px;
    
  }
  
  .equipment__item:nth-child(3n+2) {
    transform: translateY(0);
  }
  
  .equipment__item:nth-child(3n+2):hover {
    
    transform: scale(1.1)translateY(0) ;
  }
}


@media (max-width: 720px) {

  .equipment__title{
    margin: 15px auto 0;
    width: 280px;
  }

  .equipment__foto {
    min-width: 135px;
    max-height: 75px;
  }

  .equipment__list{
    margin-bottom: 0;
    grid-template-rows: repeat(3, 75px);
    grid-template-columns: repeat(2, 135px);
    gap:10px 10px;
  }
  
  .equipment__item {
    grid-template-rows:75px;
    grid-template-columns: 135px;
    
  } 

  .equipment__text {
    width: 115px;
    padding-left: 10px;
    font-size: 10px;
    line-height: 14px;
    
  }
 
}


