.faq__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.faq__item {
  padding: 30px 70px;
  margin-bottom: 20px;
  line-height: 46px;
  font-weight: 700;
  font-size: 24px;
  background-color: #fff;
  color: #1C1A1A;
  display: flex;
  justify-content: space-between;
}

.faq__item:nth-child(even) {
  background-color: #440F51;
  color: #fff;
  
}

.faq__plus_white {
  background-image: url(../images/open.svg);
  width: 46px;
  height: 46px;
  transition: background-image, 0.2s;
}

.faq__plus_white:hover {
  background-image: url(../images/open_hover.svg);
  display: inline-block;
  width: 46px;
  height: 46px;
}

.faq__plus_white:active {
  background-image: url(../images/open_active.svg);
  display: inline-block;
  width: 46px;
  height: 46px;
}

.faq__plus_purple {
  background-image: url(../images/open-purple.svg);
  width: 46px;
  height: 46px;
  transition: background-image, 0.2s;
}

.faq__plus_purple:hover {
  background-image: url(../images/open-purple_hover.svg);
}

.faq__plus_purple:active {
  background-image: url(../images/open-purple_active.svg);
}
