.footer__title {
  margin-bottom: 54px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.contacts {
  width: 350px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.contacts__address {
  padding-left: 65px;
  margin-bottom: 38px;
  background-image: url(../images/address.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.contacts__phone {
  padding-left: 65px;
  margin-bottom: 11px;
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
}

.contacts__mail {
  padding-left: 65px;
  margin-bottom: 39px;
  background-image: url(../images/mail.svg);
  background-repeat: no-repeat;
}

.social__item {
  display: inline-block;
  margin-right: 26px;
}

.footer__container {
  margin-bottom: 156px;
  display: flex;
  justify-content: space-between;

}

.copyright {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.designer {
  text-align: right;
}
