.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__container {
  margin-bottom: 145px;
  display: flex;
  justify-content: space-between;
}

.contacts {
  width: 300px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  
}

.contacts__item {
  display: flex;
  gap: 28px;
  margin-bottom: 40px;
}

.contacts__item:nth-child(2) {
  margin-bottom: 11px;
}

.contacts__foto {
  width: 32px;
  height: 32px ;
}

.contacts__link {
  transition: color, 0.2s;
}

.contacts__link:hover {
  color: var(--text-color-four);
}

.contacts__link:focus {
  color: var(--text-color-four);
}
  
.contacts__link:active{
    color: var(--text-color-four);
} 


.social {
  display:flex;
  gap: 26px;
}

svg {
  width: 100%;
  height: 100%;
}

.social__link {
  display: block;
  outline: 1px solid transparent;
  color: var(--text-color-one);
  transition-property: color, outline-color;
  transition-duration: 0.2s;
}

.social__link:hover {
  color:var(--text-color-six);
}

.social__link:focus {
  outline-color: var(--border-color-three);
}

.social__link:active {
  outline-color: transparent;
  color:var(--text-color-six);
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.designer {
  text-align: right;
}

@media (max-width: 1250px) {

  .footer__container {
    margin-bottom: 92px;
  }

  .footer__title {
    margin-bottom: 26px;
  }

  .contacts__item {
    gap: 13px;
  }

  .contacts__item:nth-child(2) {
    margin-bottom: 7px;
  }

  .contacts__foto {
    width: 26px;
    height: 26px ;
  }

  .social__link {
    width: 40px;
    height: 40px;
  }

  .footer__map {
    width: 542px;
    height: 274px;
  }
}

@media (max-width: 950px) {

  .footer__container {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }

  .footer__title {
    margin-bottom: 30px;
  }

  .contacts__container {
    align-self: center;
  }

  .contacts {
    width: 380px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 26px;
  }

  .contacts__item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .contacts__item:nth-child(2) {
    margin-bottom: 0;
  }

  .address__text {
    margin-left: -40px;
  }

  .social {
    width: 238px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .social__link {
    width: 40px;
    height: 40px;
  }

  .footer__map {
    width:688px;
    height: 337px;
  }
  
}

@media (max-width: 420px){
  .footer__container {
    margin-bottom: 63px;
  }

  .contacts {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    gap: 11px;
  }

  .contacts__item {
    gap: 1px;
    margin-bottom: 10px;
  }

  .contacts__foto {
    width: 20px;
    height: 20px ;
  }

  .address__text {
    margin-left: -20px;
  }

  .social {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .social__link {
    width: 30px;
    height: 30px;
  }


  .footer__map {
    width:280px;
    height: 194px;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }
}