.footer__title {
  margin-bottom: 54px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.contacts {
  width: 350px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.contacts__link:hover {
  color: #6C0287;
}

.contacts__link:focus {
  color: #6C0287;
  }
  
.contacts__link:active{
    color: #6C0287;
  } 

.contacts__address {
  padding-left: 65px;
  margin-bottom: 38px;
  background-image: url(../images/address.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.contacts__phone {
  padding-left: 65px;
  margin-bottom: 11px;
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
}

.contacts__mail {
  padding-left: 65px;
  margin-bottom: 39px;
  background-image: url(../images/mail.svg);
  background-repeat: no-repeat;
}

.social {
  display:flex;
  justify-content: space-between;
  width: 280px;
  /*transition-property: color outline-color;
  transition-duration: 0.3s 0.2s;*/
}

svg {
  width: 100%;
  height: 100%;
}
.social__link {
  display: block;
  outline: 1px solid transparent;
  color: #FFFFFF;
}
.social__link:hover {
  
  color:#EADEED;
}

.social__link:focus {
  outline-color: #CD06FF;
  
}

.social__link:active {
  outline-color: transparent;
  color:#CD06FF;
}


.footer__container {
  margin-bottom: 156px;
  display: flex;
  justify-content: space-between;

}

.copyright {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.designer {
  text-align: right;
}
