.game-over {
  max-height: 923px;
}

.head {
  display: grid;
  grid-template-columns: minmax(348px, 397px), minmax(453px, 675px);
  grid-template-rows: 597px;
  gap: 108px;
}


.game-over__title {
  margin:0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 150px;
  line-height: 150px;
  letter-spacing: -0.1em;
}

.game-over__subtitle {
  margin-left: 100px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
}
/*
.head__text {
  display: grid;
  grid-template-rows: 209px 80px;
  gap: 150px;
}*/

.head__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 150px;
}

.game-over__list {
 
  
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns:minmax(168px, 193px) minmax(140px, 166px);
  grid-template-rows: minmax(113px, 141px) minmax(60px, 68px);
  gap: 5px 43px;
  
}

.game-over__item1 {
  align-self: end;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: var(--text-color-three);
}

.game-over__item2 {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: var(--text-color-three);
}

.game-over__item3 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.game-over__item4 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}



.reserved__link {
  
  padding: 25px 69px;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--bg-color-four);
  transition-duration: 0.2s;
  transition-property: background-color;
}

.reserved__link:hover {
  
  background-color: var(--bg-color-five);
}

.reserved__link:focus {
  background-color: var(--bg-color-five);
}

.reserved__link:active {
  background-color: var(--bg-color-six);
}

.container-down {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  margin-top: -165px;
}
.head__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1/2;
  grid-column: 1/2;
}

.down__link {
  margin-left: 34px;
  margin-bottom: 90px;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  background-image: url(../images/down.svg);
  z-index: 2;
  width: 97px;
  height: 97px;
  transition: background-image 0.5s;
  transition-duration: 1s;
}

.down__link:hover {
  background-image: url(../images/down_hover.svg);
}

.down__link:focus {
  background-image: url(../images/down.svg);
  outline: 1px solid #CD06FF;
  
}

.down__link:active {
  background-image: url(../images/down_active.svg);
  outline: 1px solid transparent;
}

@media (max-width:1250px) {
  .game-over__title {
    margin-bottom: 20px;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -12px;
  }

  .game-over__subtitle {
    font-size: 22px;
    line-height: 30px;
  }

  .head {
    grid-template-columns: minmax(222px, 348px) minmax(409px, 453px);
    grid-template-rows: 390px;
    
  }
  .head__text{
    gap: 80px;
  }
  
  .game-over__list {
    grid-template-columns:minmax(103px, 168px) minmax(86px, 140px);
    grid-template-rows: minmax(71px, 113px) minmax(36px, 60px);
    
    gap: 0 40px;
    width: 348px;
  }
  
  .game-over__item1 {
    width: 168px;
    font-size: 80px;
    line-height: 113px;
  }
  
  .game-over__item2 {
    width: 140px;
    font-size: 60px;
    line-height: 85px;
    
  }
  
  .game-over__item3 {
    width: 168px;
    font-size: 26px;
    line-height: 30px;
  }
  
  .game-over__item4 {
    width: 140px;
    font-size: 26px;
    line-height: 30px;
  }
  
  .reserved__link {
    padding: 17px 48px;
    margin-left: 39px;
    font-size: 22px;
    line-height: 30px;
  }

  .container-down {
    margin-top: -130px;
  }

  .down__link {
    margin-left: 0;
    margin-bottom: 46px;
    background-size: 67px 67px;
    width: 67px;
    height: 67px;
  }

  .head__foto {
    max-width: 453px;
    max-height: 520px;
  }
}

@media (max-width: 950px) {

  .game-over__title {
    font-size: 100px;
    letter-spacing: -8.6px;
  }

  .game-over__subtitle {
    margin-left: 70px;
    font-size: 18px;
    line-height: 24px;
  }

  .head__text {
    gap: 50px;
  }
}
  @media (max-width:850px){
  .head {
  
    grid-template-columns: minmax(139px, 221px) minmax(161px, 409px);
    grid-template-rows: 409px;
    gap: 60px;
  }
  
  .game-over__subtitle{
    margin-bottom: 0;
  }
  .game-over__list {
    
    gap: 0 32px;
   
  }
  
  .game-over__item1 {
    width: 103px;
    font-size: 50px;
    line-height: 71px;
   }
  
  .game-over__item2 {
    
    width: 86px;
    font-size: 40px;
    line-height: 56px;
    
  }
  
  .game-over__item3 {
    width: 103px;
    font-size: 16px;
    line-height: 18px;
   
  }
  
  .game-over__item4 {
    width: 86px;
    font-size: 16px;
    line-height: 18px;
  }
  
  .reserved__link {
    padding: 11px 35px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .container-down {
    margin-top: -70px;
  }

  .head__foto {
    max-width: 409px;
    max-height: 479px;
  }

  .down__link {
    display: none;
  }
}

@media (max-width:750px) {
  .game-over__title {
    font-size: 86px;
    letter-spacing: -8.6px;
  }
/*
  .game-over__list {
    grid-template-columns:minmax(65px, 103px) minmax(54px, 86px);
    grid-template-rows: minmax(59px, 107px) minmax(22px, 36px);
    gap: 5px 43px;
   
}*/

}


@media (max-width: 690px){
  
  .game-over__title {
    font-size: 75px;
    letter-spacing: -5.6px;
  }

  .head{
    grid-template-rows: 250px;
    gap: 30px;
  }

  .head__text {
    gap: 30px;
  }

  .game-over__list {
      grid-template-columns:minmax(65px, 103px) minmax(54px, 86px);
      grid-template-rows: minmax(59px, 107px) minmax(22px, 36px);
      gap: 5px 43px;
     
  }

}

@media (max-width:620px) {
  .game-over__title {
    font-size: 65px;
    letter-spacing: -6.0px;
  }
}

@media (max-width: 570px){
  .game-over__title {
    font-size: 60px;
    letter-spacing: -6.0px;
  }

  .game-over__subtitle {
   
    margin-left: 50px;
    font-size: 14px;
    line-height: 14px;
  }

  .head{
    grid-template-rows: 150px;
  }

  .game-over__item1 {
    font-size: 43px;
  }
  
  .game-over__item2 {
    font-size: 31px;
  }
  
  .game-over__item3 {

    font-size: 13px;
    
  }
  
  .game-over__item4 {
  font-size: 13px;

  }

  .reserved__link {
    padding: 9px 25px;
    font-size: 13px;
    
  }

  .game-over__list {
    gap: 0 20px;
  }
}

@media (max-width: 520px){
  .game-over__title {
    font-size: 55px;
    letter-spacing: -6.0px;
  }

  .game-over__list {
   grid-template-rows: 59px 22px;
    gap: 0 20px;
    width: 139px;
  }
  
  .game-over__item1 {
    width: 65px;
    font-size: 26px;
    line-height: 37px;
   
  }
  
  .game-over__item2 {
    
    width: 54px;
    font-size: 22px;
    line-height: 31px;
    
  }
  
  .game-over__item3 {
    width: 65px;
    font-size: 10px;
    line-height: 11px;
   
  }
  
  .game-over__item4 {
    width: 54px;
    font-size: 10px;
    line-height: 11px;
   
  }
  
  .reserved__link {
    padding: 8px 13px;
    font-size: 10px;
    line-height: 12px;
  }

  .container-down {
    margin-top: -40px;
  }
}

@media (max-width: 420px){
  .head{
    gap: 0;
  }

  .game-over__title {
    margin-bottom: 6px;
    font-size: 35px;
    
    letter-spacing: -2.8px;
  }

  .game-over__subtitle {
    margin-left: 20px;
   
    font-size: 10px;
    line-height: 14px;
  }
  
  

}

@media (max-width: 320px) {

  .game-over__title {
    margin-bottom: 6px;
    font-size: 35px;
    
    letter-spacing: -2.8px;
  }

  .game-over__subtitle {
    margin-left: 20px;
    
    font-size: 10px;
    line-height: 14px;
  }
  
  .game-over__list {
    
    gap: 0 20px;
    width: 139px;
  }
  
  .game-over__item1 {
    width: 65px;
    font-size: 26px;
    line-height: 37px;
   
  }
  
  .game-over__item2 {
    
    width: 54px;
    font-size: 22px;
    line-height: 31px;
    
  }
  
  .game-over__item3 {
    width: 65px;
    font-size: 10px;
    line-height: 11px;
   
  }
  
  .game-over__item4 {
    width: 54px;
    font-size: 10px;
    line-height: 11px;
   
  }
  
  .reserved__link {
    padding: 8px 13px;
    font-size: 10px;
    line-height: 12px;
  }

  .container-down {
    margin-top: -30px;
  }

  .head__foto {
    max-width: 161px;
    max-height: 179px;
  }

}