.header {
  padding-top: 30px;
}

.header__container {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 22px;
}

.navigation__list {
  display:flex;
  gap: 40px;
  font-weight: 400;
  line-height: 50px;
}

.navigation__link {
  outline: none;
}

.navigation__link:hover {
  color: #6C0287;
}

.navigation__link:focus {
  color: #6C0287;
}

.navigation__link:active {
  color: #640AA3;
}

.header__link {
  padding: 12px 32px 13px;
  font-weight: 700;
  line-height: 30px;
  outline: none;
  border: 3px solid #CD06FF;
  border-radius: 10px;
  box-shadow: none;
}

.header__link:hover {
  background-color: #6C0287;
  border: 3px solid #6C0287;

}

.header__link:focus {
  background-color: #6C0287;
  border: none;
  
}

.header__link:active {
  
  background-color: #640AA3;
  border: 3px solid #000000;
  
}