
.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 100px;
  font-size: 20px;
  font-weight: 400 ;
  line-height: 28px;
}

.reviews__item {
  display: flex;
  gap: 20px;
}

.reviews__foto {
  border: none;
  border-radius: 50%;
  margin-bottom: 11px;
  margin-right: 22px;
  z-index: 0;
}

.review__subtitle {
  max-width: 280px;
  text-align: center;
}

.reviews__content {
  margin-bottom: 0;
}

.foto-container:before {
  content: '';
  z-index: 1;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.reviews__text {
  display: inline-block;
  padding-top: 52px;
  margin-bottom: 1px;
  max-width: 680px;
}

@media (max-width: 1250px) {

  .reviews__title {
    margin-bottom: 26px;
  }
  
  .reviews__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 18px;
    line-height: 26px;
  }
  
  .reviews__item {
    gap: 38px;
  }
  
  .reviews__foto {
    width: 172px;
    height: 172px;
    margin-bottom: 21px;
    margin-right: 0x;
    
  }
  
  .review__subtitle {
    max-width: 172px;
  }
  
  .foto-container:before {
    width: 172px;
    height: 172px;
  }
  
  .reviews__text {
    display: inline-block;
    padding-top: 52px;
    margin-bottom: 1px;
    max-width: 515px;
  }
}

@media (max-width: 950px) {

  .reviews__title {
    margin-bottom: 31px;
  }
  
  .reviews__list {
    gap: 15px;
    padding-left: 63px;
    font-size: 16px;
    line-height: 22px;
  }
  
  .reviews__item {
    gap: 15px;
  }
  

  .reviews__foto {
    width: 153px;
    height: 153px;
    margin-bottom: 17px;
  }
  
  .review__subtitle {
    max-width: 156px;
  }
  
  .foto-container:before {
    width: 153px;
    height:153px;
  }
  
  .reviews__text {
    max-width: 393px;
  }
}

@media (max-width:748px) {
  .reviews__content {
    text-align: center;
  }

  .review__subtitle {
    text-align: center;
    max-width: 393px;
  }

  .reviews__text {
    
    max-width: 500px;
  }

  .reviews__item {
    align-self: center;
    flex-flow: column;
  }
}

@media (max-width: 420px) {

  .reviews__title {
    margin-bottom: 31px;
  }
  
  
  .reviews__list {
    padding-left: 0;
    gap: 20px;
    font-size: 12px;
    line-height: 16px;
  }
  
  .reviews__item {
    flex-flow: column;
  }
  
  .reviews__content {
    margin: 0 auto;
  }
  
  .reviews__foto {
    width: 86px;
    height: 86px;
    margin-bottom:9px;
  }
  
  .review__subtitle {
    max-width: 156px;
  }
  
  .foto-container:before {
    width: 86px;
    height:86px;
  }
  
  .reviews__text {
    max-width: 280px;
  }
}