.reviews__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
   
}

.reviews__list {
  font-size: 20px;
  font-weight: 400 ;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__foto {
  border: none;
  border-radius: 50%;
  margin-bottom: 11px;
  margin-right: 22px;
  z-index: 0;
}


.review__subtitle {
  max-width: 280px;
  text-align: center;
}

.reviews__content {
  float: left;
}

.foto-container:before {
  content: '';
  z-index: 1;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}



.reviews__text {
  display: inline-block;
  padding-top: 52px;
  margin-bottom: 1px;
  max-width: 680px;
}

.reviews__item {
  height: 331px;
}

